@import './Variables.scss';


.header {
  color: $colorAccent;
  padding-top: 1.5rem;

  a {
    color: $colorAccent;
    font-weight: $fontRegular;
    text-transform: uppercase;
    &:hover {
      color: $colorMenuIcon;
    }
  }
}


.navbar-header {
  img {
    width: 13rem;
  }
}


.navbar-collapse {
  flex-basis: unset;
  flex-grow: 0;
  align-items: start;
}


.navbar-toggler-icon {
  display: inline;
  color: $colorMenuIcon;
}

.dropdown-menu {
  a {
    color: #3a3a3a;
  }
}