.sect-logo {
  text-align: center;
  padding-top: 0;
}

.customer-logo-generic {
  height: 40px;
  margin: 0 20px 40px 20px;
  width: auto;
  transition: all 0.4s ease;
  filter: grayscale(1) opacity(.8);

  &:hover {
    filter: grayscale(0) opacity(1);
  }
}