@import './Variables.scss';


.sect-data {
  h1 {
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
  }

  h5 {
    font-weight: $fontBold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    font-weight: $fontExtraLight;
  }
}