// Color variation
$colorBanner: #08987d;
$colorMenuIcon: #2684fc;
$colorTitleBlue: #213373;
$colorPrimary: #fff;
$colorAccent: #00bcd4;
$colorWhite: #fff;
$colorFooter: #333;
$colorGrey: #aaa;

$colorBtnGreen: #32cd32;
$colorBtnGreenHover: #28a428;
$colorBtnHover: #008fa1;


// Fonts elements 
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;