@import './Sass/Variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


section {
  padding: 4rem 1rem;

  @media screen and (min-width: 768px) {
    padding: 6rem 2rem;
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-weight: $fontBold;
  font-size: 1.8rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width:1366px) {
    font-size: 2.8rem;
  }
}


p {
  font-size: 0.9rem;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (min-width:1366px) {
    font-size: 1.1rem;
  }
}


a {
  text-decoration: none;
  font-weight: $fontBold;
  transition: all 0.4s ease;
}



.btn-primary {
  background-color: $colorAccent;
  border-color: $colorAccent;

  &:hover {
    background-color: $colorBtnHover;
    border-color: $colorBtnHover;
  }
}

.btn-success {
  background-color: $colorBtnGreen;
  border-color: $colorBtnGreen;

  &:hover {
    background-color: $colorBtnGreenHover;
    border-color: $colorBtnGreenHover;
  }
}



.background-dark {
  background-color: $colorBackgroundLight;
}